body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.1;
  cursor: default;
}

.header{
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.608);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.company{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complogo{
  height: 80%;
}
.links{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}
.link{
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.link:hover{
  transition: 0s linear;
  border-top:3px solid royalblue;
  cursor: pointer;
  font-weight: 700;
}
.menu{
  width: 75%;
  height: 100vh;
  background-color: royalblue;
  position: fixed;
  top: 0;
  right: 0%;
  bottom: 0;
  z-index: 101;
  display: none;
}
.linkbutton{
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menubuttonicon{
  width: 20px;
}
.linkbutton{
  display: none;
}

.page1{
  width: 100%;
  height:100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topname{
  font-size: 38px;
  font-weight: 600;
  color: royalblue;
  margin-bottom: 25px;
}
.slogan{
  width: 80%;
  text-align: center;
  font-size: 72px;
  color: black;
  font-weight: 600;
}
.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.primary-button{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: royalblue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  margin: 20px;
}
.icon{
  margin-left: 10px;
  width: 25px;
  filter: invert(1);
}
.secondary-button{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  margin: 20px;
}
.icon-secondary{
  filter: none;
  width: 25px;
  margin-left: 10px;
}
.primary-button:hover{
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(51, 83, 180);
}
.secondary-button:hover{
  cursor: pointer;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .company{
    width: 50%;
  }
  .link{
    display: none;
  }
  .linkbutton{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .menu{
    display: flex;
  }
  .topname{
    font-size: 32px;
    font-weight: 600;
    color: royalblue;
    margin-bottom: 15px;
  }
  .slogan{
    width: 80%;
    text-align: center;
    font-size: 58px;
    color: black;
    font-weight: 600;
  }
  .cta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .primary-button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: royalblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    margin: 20px;
  }
  .icon{
    margin-left: 10px;
    width: 25px;
    filter: invert(1);
  }
  .secondary-button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    margin: 20px;
  }
  .icon-secondary{
    filter: none;
    width: 25px;
    margin-left: 10px;
  }
  .primary-button:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(51, 83, 180);
  }
  .secondary-button:hover{
    cursor: pointer;
  }
  
}

@media (max-width: 600px) {
  .company{
    width: 50%;
  }
  .link{
    display: none;
  }
  .linkbutton{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .menu{
    display: flex;
  }
  .topname{
    font-size: 26px;
    font-weight: 600;
    color: royalblue;
    margin-bottom: 15px;
  }
  .slogan{
    width: 75%;
    text-align: center;
    font-size: 36px;
    color: black;
    font-weight: 600;
  }
  .cta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .primary-button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: royalblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    margin: 5px;
  }
  .icon{
    margin-left: 10px;
    width: 25px;
    filter: invert(1);
  }
  .secondary-button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    margin: 5px;
  }
  .icon-secondary{
    filter: none;
    width: 25px;
    margin-left: 10px;
  }
  .primary-button:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(51, 83, 180);
  }
  .secondary-button:hover{
    cursor: pointer;
  }
  
}
